.idea/
*.iml
.DS_Store
*.log
*.pyc
.classpath
.project
.settings/
target/
data/algorithm_test/?*
data/igola_tag/?*
data/sugo_tag_test/?*
repo/igola/recommend/?*
repo/igola/sort/?*
task_sql/?*
task_tag/?*

!.gitkeep
